Repository SimonStnn/email-agent: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/agent-ui.linter.yaml, .azure-pipelines/agent-ui.tag.yaml, .azure-pipelines/cerm-mcp.linter.yaml, .azure-pipelines/cerm-mcp.tag.yaml, .azure-pipelines/mcp.linter.yaml

Path conditions:
  .azure-pipelines/agent-ui.linter.yaml: any of: gradio-app
  .azure-pipelines/agent-ui.tag.yaml: any of: gradio-app
  .azure-pipelines/cerm-mcp.linter.yaml: any of: mcp-server
  .azure-pipelines/cerm-mcp.tag.yaml: any of: mcp-server
  .azure-pipelines/mcp.linter.yaml: any of: mcp-server

Another one
  .azure-pipelines/agent-ui.build.yaml
  .azure-pipelines/cerm-mcp.build.yaml
  .azure-pipelines/m365-mcp.build.yaml
Due: none

Read secrets from vault
  .azure-pipelines/agent-ui.build.yaml
  .azure-pipelines/cerm-mcp.build.yaml
  .azure-pipelines/m365-mcp.build.yaml
Due: none

Fix secret names
  .azure-pipelines/agent-ui.build.yaml
Due: none

Docker fix
  m365-mcp/Dockerfile
Due: none

Merge branch 'workflows'
  .azure-pipelines/agent-ui.build.yaml
  .azure-pipelines/agent-ui.linter.yaml
  .azure-pipelines/cerm-mcp.build.yaml
  .azure-pipelines/cerm-mcp.linter.yaml
  .azure-pipelines/m365-mcp.build.yaml
  .azure-pipelines/m365-mcp.linter.yaml
  docker-compose.yaml
  gradio-app/.pre-commit-config.yaml
  gradio-app/src/agent/agent.py
  gradio-app/src/agent/mcp_client.py
  m365-mcp/Dockerfile
  mcp-server/.env.template
  mcp-server/.pre-commit-config.yaml
Due: .azure-pipelines/agent-ui.linter.yaml, .azure-pipelines/agent-ui.tag.yaml, .azure-pipelines/cerm-mcp.linter.yaml, .azure-pipelines/cerm-mcp.tag.yaml, .azure-pipelines/mcp.linter.yaml

Fix login issues with m365
  gradio-app/src/start_gradio.py
  m365-mcp/example_mcp.json
  m365-mcp/src/m365_mcp/auth.py
  m365-mcp/src/m365_mcp/server.py
Due: .azure-pipelines/agent-ui.linter.yaml, .azure-pipelines/agent-ui.tag.yaml
